@import '../../styles/variables';

.search {
    background-color: $blue-2;
    background-image: url('../../static/voucher.svg');
    background-repeat: no-repeat;
    background-position: 23%;
    height: 68px;
    display: flex;
    align-items: center;

    &__input {
        margin-right: 20px;
        margin-left: 37px;
        padding: 6px 7px 7px 8px;
        border: 1px solid $gray-2;
        border-radius: 4px;
        background-color: $white;
        max-width: 237px;
        width: 100%;

        &::placeholder {
            color: $gray-1;
            font-size: 14px;
            font-family: 'Gotham';
        }

        &:focus {
            outline: none;
        }
    }
}

.search__mob {
    display: none;
}

@media screen and (max-width: 960px) {
    .search {
        height: 32px;
        background-size: 30%;
        background-position: 12%;
    }

    .search__desc {
        display: none;
    }

    .search__mob {
        display: flex;

        &-text {
            margin-bottom: 0;
            padding-right: 9px;
        }
    }
}