@font-face {
    font-family: "Gotham";
    font-weight: 300;
    font-display: swap;
    src : url("./Metropolis-Light.otf");
}

@font-face {
    font-family: "Gotham";
    font-weight: 400;
    font-display: swap;
    src : url("./HomepageBaukasten-Book400.woff");
}

@font-face {
    font-family: "Gotham";
    font-weight: 500;
    font-display: swap;
    src : url("./iCiel\ Gotham-Medium.ttf");
}

@font-face {
    font-family: "Gotham";
    font-weight: 600;
    font-display: swap;
    src : url("./GothamBold.ttf");
}
